@use "base/variables" as v;
@use "base/mixins" as m;


.tiendas{
    text-align: center;

    &__heading{
      
        font-size: 2rem;
        color: v.$secundario;
        margin-bottom: 1.5rem;
        @include m.tablet { 
            font-size: 3rem;
         }
    }

    &__texto{
        font-size: 1.5rem;
        font-weight: 700;

        @include m.tablet { 
            font-size: 1.8rem;
         }
       
    }

    &__grid{

        display: flex;
        flex-direction: column;
        gap: 2rem;
        

        @include m.tablet { 
            @include m.grid(2,3rem)
         }
    }
}